body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
}

.map-section, .raster-section {
    flex: 1;
    padding: 10px;
}

#map {
    height: 400px;
    width: 100%;
}



.drop-zone {
    border: 1px dashed #ccc;
    position: relative;
}


.raster-section {
    position: relative;
    width: 100%;
    height: 400px;
}

#rasterImage, #puzzle-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#scrambled-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    width: 100%;
    margin-bottom: 20px;
}

.puzzle-piece {
    margin: 5px;
    cursor: pointer;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
