body {
    font-family: sans-serif;
}

#weather-search-params, #current-weather-container, .grid-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.weather-block {
    display: inline-block;
    width: 300px;
    height: 120px;
    border: 1px solid #c0c0c0;
    margin: 5px;
    text-align: left;
    position: relative;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}

.weather-date, .weather-icon, .weather-temperature, .weather-temperature-feels-like, .weather-description {
    display: block;
}

.weather-icon {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 100px;
    height: 100px;
}

.weather-temperature {
    position: absolute;
    top: 30px;
    left: 120px;
    font-size: 33px;
    font-weight: bold;
}

.weather-temperature-feels-like {
    position: absolute;
    top: 70px;
    left: 120px;
}

.weather-description {
    position: absolute;
    top: 90px;
    left: 120px;
}
