* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    background-color: #fdf6e3;
}

.header {
    background-image: url('ad.webp');
    background-size: cover;
    color: #ffffff;
    padding: 20px;
    border: none;
    border-radius: 5px;
    text-shadow: 2px 2px 4px #000000;
    background-color: #8b4513
}


h1 {
    font-family: 'Caveat Brush', cursive;
    font-size: 2.5em;
    color: #8b4513;
    text-align: center;
    border-bottom: 3px solid #f4a460;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

h2 {
    font-family: 'Caveat Brush', cursive;
    font-size: 2em;
    color: #ffffff;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 5px;
    margin: 20px 0;
}

h2 + p {
    font-weight: bold;
    font-size: 15px;
}

h3 {
    font-family: 'Caveat Brush', cursive;
    font-size: 1.5em;
    color: #f4a460;
    border-bottom: 2px dashed #8b4513;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

li {
    font-family: 'Caveat Brush', cursive;
    font-size: 1em;
    color: #ffffff;
}

p {
    font-size: 1em;
    color: #000000;
    line-height: 1.5em;
    margin: 15px 0;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f4a460;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: 2px solid #8b4513;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu li a {
    color: #ffffff;
    text-decoration: none;
}

.menu li:hover {
    background-color: #8b4513;
}

.aside {
    background-color: #f4a460;
    padding: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: 2px solid #8b4513;
    border-radius: 5px;
    margin-bottom: 10px;
}


.aside2 {
    background-color: #8b4513;
    padding: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: 2px solid #8b4513;
    border-radius: 5px;
    margin-bottom: 10px;
}

.footer {
    background-color: #f4a460;
    padding: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: 2px solid #8b4513;
    border-radius: 5px;
    margin-bottom: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    background-color: #fdf6e3;
}

.col-6.col-s-9 {
    height: auto;
    overflow-y: auto;
    border: 2px solid #8b4513;
    border-radius: 5px;
}

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

#styleToggleButton {
    color: white;
    background-color: #4CAF50;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#styleToggleButton:hover {
    background-color: #45a049;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#styleToggleButton:active {
    background-color: #3e8e41;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transform: translateY(2px);
}

#styleToggleButton:focus {
    outline: none;
    border: 2px solid #4CAF50;
}

